.order-container {
  width: 100%;
  position: relative;
  padding: 5px 1rem;
}

.order-container h3 {
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgb(236, 47, 79);
}

.order-container .on-delivery-title {
  margin-top: 10px;
}