.single-order-container {
  margin: 0px 1rem;
  border: 2px solid white;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 1rem;
}

.order-ul {
  padding: 10px;
  display: grid;
}

.order-ul li {
  padding: 5px;
  background-color: white;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 80px auto 1fr;
  column-gap: 10px;
  margin-bottom: 7px;
}

.order-ul .name-count-container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: right;
}

.name-count-container input {
  width: 100%;
  display: flex;
}

.food-name input {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  color: rgba(71, 116, 232, 0.784);
  font-size: 1rem;
  font-weight: bold;
  padding: 3px 3px;
  border: none;
  border-left: 2px solid rgb(236, 35, 35);
  border-right: 2px solid rgb(236, 35, 35);
  text-transform: capitalize;
}

.food-name input:focus {
  outline: none;
}

.food-count select {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  border-radius: 5px;
  color: rgba(71, 116, 232, 0.784);
  font-size: 0.8rem;
  font-weight: bold;
  padding: 3px 0px;
  border-color: rgb(236, 35, 35);
}

.food-count select option {
  border-bottom: 1px solid gray;
}

.food-count input {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  color: rgba(71, 116, 232, 0.784);
  font-size: 1rem;
  font-weight: bold;
  padding: 3px 3px;
  border: none;
  border-left: 2px solid rgb(236, 35, 35);
  border-right: 2px solid rgb(236, 35, 35);
  text-align: center;
  width: 40px;
}


.food-count {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.message-box, .address-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  position: relative;
}

.message-text {
  height: 100px;
  overflow-y: scroll;
  transition: height 0.3s linear;
}

.message-text-hidden, .address-text-hidden {
  height: 2.7em;
  overflow: hidden
}

.message-button-toggle, .address-button-toggle {
  position: absolute;
  bottom: -5px;
  right: 0px;
}

.message-button-toggle button {
  display: flex;
  color: rgba(71, 116, 232, 0.784);
  font-size: 1.5rem;
  background-color: white;
  font-weight: bold;
  width: 30px;
  height: 30px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  border: 3px solid rgb(253, 250, 252);
  border-right: none;
}

.address-button-toggle button {
  display: flex;
  color: rgba(71, 116, 232, 0.784);
  font-size: 1.5rem;
  background-color: white;
  font-weight: bold;
  width: 30px;
  height: 30px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  border: 3px solid rgb(253, 250, 252);
  border-right: none;
}

.single-order-hr {
  border: 1px solid gray;
  width: 90vw;
  margin: 1rem auto;
}

.status-select select {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  border-radius: 5px;
  color:rgba(71, 116, 232, 0.784);
  font-size: 0.8rem;
  font-weight: bold;
  padding: 3px 0px;
}

.status-select-received {
  border: 2px solid red;
}

.status-select-accepted {
  border: 2px solid rgb(60, 36, 240);
}

.status-select-delievery {
  border: 2px solid green;
}

option:checked {
  display: none;
}

option:not(:checked) {
  color: black
}

.status-time {
  margin-left: 8px;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  color: gray;
  font-size: 0.8rem;
  font-weight: bold;
  /* padding: 3px 3px;
  border: none;
  border-left: 2px solid rgb(236, 35, 35);
  border-right: 2px solid rgb(236, 35, 35); */
}

.status-time span {
  margin-left: 5px;
}

.payment-box {
  display: flex;
  justify-content: space-between;
}

.payment-method-name {
  text-transform: capitalize;
}

.payment-box select {
  border-radius: 5px;
}

select:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

.payment-select-received {
  border: 2px solid green
}

.payment-select-pending {
  border: 2px solid gray
}

.order-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-order-btn:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}



/* .remove-btn-container {
  margin-left: 10px;
}

.save-cancel-container {
  margin-right: 10px;
} */

.remove-order-btn {
  border-radius: 5px;
  border: 2px solid red;
  background-color: white;
  color: red;
  padding: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

.remove-order-btn svg {
  margin-right: 5px;
}

.save-cancel-container button{
  border-radius: 5px;
  border: 2px solid rgb(124, 86, 236);
  background-color: white;
  color: rgb(124, 86, 236);
  padding: 5px;
  font-weight: bold;
  text-transform: capitalize;
  width: 80px;
}

.save-cancel-container button:hover {
  cursor: pointer;
  background-color: rgb(124, 86, 236);
  color: white;
}

.save-change-btn {
  margin-right: 10px;
}

.toggle-detail-btn {
  display: flex;
  border-radius: 5px;
  border: 2px solid rgb(1, 43, 15);
  background-color: rgba(71, 116, 232, 0.784);
  color: white;
  padding: 5px;
  font-weight: bold;
  text-transform: capitalize;
  width: 50px;
  justify-content: center;
  align-items: center;
}

.toggle-detail-btn:hover {
  background-color: rgb(124, 86, 236);
  color: white
}