.menu-link {
  width: 150px;
  overflow: hidden;
  border: 1px solid #8c1c10;
  border-radius: 0.5rem;
  position: relative;
}

.single-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px 20px;

}

.single-category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.category-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #5b4167;
  text-align: center;
  margin-top: 10px;
  border: 2px solid #d43232;
  border-radius: 1rem;
  padding: 10px;
}