.menu-link {
  width: 100px;
  overflow: hidden;
  border: 1px solid #8c1c10;
  border-radius: 0.5rem;
  margin-bottom: 10px;
  position: relative;
}

.single-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}