.item-image-container {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 0.5rem;
  position: relative;
}

.item-image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-color: white;
}

.item-info-container {
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  overflow: hidden;
  background-color: white;
  border-top: 1px solid gray;
  bottom: 0;
  width: 100%;
}

.item-name {
  margin-bottom: 0px;
  font-size: 0.8rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #3e3738;
  width: 100%;
  overflow: hidden;

}

.item-price {
  color: white;
  font-size: 0.5rem;
  position: absolute;
  right: 3px;
  top: 128px;
  background-color: rgb(238, 94, 118);
  padding: 3px;
  border-radius: 0.3rem;
}