.item-image-container {
  width: 100px;
  height: 100px;
  background-color: white;
}

.item-image-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: white;
}

.item-info-container {
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  overflow: hidden;
  background-color: white;
  border-top: 1px solid gray;
}

.item-name {
  margin-bottom: 0px;
  font-size: 0.8rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #3e3738;
  width: 100%;
  overflow: hidden;

}

.item-price {
  color: #c6f151;
  font-size: 0.5rem;
  position: absolute;
  right: 0px;
  top: 80px;
  background-color: #ae06f5;
  padding: 3px;
  border-radius: 0.3rem;
}