.restaurant-link-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurant-link {
  max-width: 600px;
  width: 100%;
}

.marketplace-title {
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: rgb(138, 138, 213);
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 2px solid rgb(138, 138, 213);
  border-radius: 0.7rem;
  background-color: white;
}

.load-more-restaurant-trigger {
  height: 10px;
  width: 100%;
  position: relative;
}

.load-more-restaurant-trigger-hide {
  position: fixed;
  bottom: -20px;
}