.single-restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.single-restaurant img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.restaurant-info-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px;
  width: 80%;
  overflow: hidden;
  height: 40px;
  text-align: center;
  background-color: white;
  font-size: 0.7rem;
  border-top-left-radius: 0.5rem;
  color: rgb(138, 138, 213);
  opacity: 0.8;
  border-top: 2px solid rgb(138, 138, 213);
  border-left: 2px solid rgb(138, 138, 213);
}

.restaurant-name-marketplace {
  font-size: 1rem;
  margin: auto;
}

.restaurant-link {
  display: block;
  box-shadow: 3px 5px 14px -3px rgba(15, 14, 15, 0.52);
  -webkit-box-shadow: 3px 5px 14px -3px rgba(15, 14, 15, 0.52);
  -moz-box-shadow: 3px 5px 14px -3px rgba(15, 14, 15, 0.52);
  margin-bottom: 16px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.restaurant-phone-number {
  display: flex;
  align-items: center;
}

.restaurant-closed-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.462);
  z-index: 9;
}

.restaurant-closed-container img {
  width: 50%;
  height: 80%;
  object-fit: scale-down;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

