.trashbin-container {
  display: flex;
  flex-direction: column;
}

.new-order-title {
  padding: 1rem;
  color: #221372;
  font-size: 1.5rem;
  border-bottom: 2px solid #463b3b;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-items: flex-end;
  padding-left: 1rem;
}

