.restaurant-name-marketplace1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #5b4167;
  text-align: center;
  margin: 10px;
  border: 2px solid #d43232;
  border-radius: 1rem;
  padding: 10px;
  max-width: 300px;
}