.deli-select {
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  border: 2px solid white;
  color: rgb(238, 94, 118);
  font-weight: bold;
  padding: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.delivery-not-available-text {
  font-size: 0.7rem;
  margin-top: 5px;

}