.nav-container {

  position: relative;
}

/* logo-text-container **************/

.logo-text-container {
  padding: 0.5rem 0px 20px 0px;
  letter-spacing: 3px;
  position: fixed;
  width: 100%;
  border-bottom: 3px solid rgb(238, 94, 118);
  background-color: pink;
  text-align: center;
  z-index: 99;
}

.logo-text-space {
  height: 103px;
  width: 100%;
}

.logo-text-container p {
  margin: 0px
}

.primary-logo-text {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.secondary-logo-text {
  color: white;
  font-size: 1.5rem;
}

/**********toggle-btn************/

.nav-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  color: white;
  z-index: 999;
}

.nav-button .fa-xmark {
  color: red;
  position: absolute;
  font-size: 2.5rem;
  left: 1px;
  bottom: 1px;
  opacity: 1;
  transform: rotate(0deg);
  transition: all 0.25s linear;
}

.nav-button .fa-xmark-hidden {
  color: white;
  opacity: 0;
  transform: rotate(-45deg);
}

.fa-bar {
  color: white;
  opacity: 1;
  transform: rotate(0deg);
  transition: all 0.25s linear;
}

.fa-bar-hidden {
  transform: rotate(45deg);
  opacity: 0;
}

.envolope-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.envolope-link {
  display: block;
  position: relative;
  width: fit-content;
  margin-left: auto;
}

.envolope-icon {
  font-size: 2rem;
  color: white;
}

.new-order-count {
  background-color: white;
  color: rgb(238, 94, 118);
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
}

.online-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
  padding: 5px;
  margin-top: 8px;
  letter-spacing: 1px;
  font-size: 0.6rem;
}

.online-indicator-text {
  margin: 0px 0px 0px 5px;
  color: green
}

.circle-icon {
  font-size: 0.5rem;
  color: green;
  background-color: green;
  width: 8px;
  height: 8px;
  border-radius: 5px;
}

.offline-indicator-text {
  margin: 0px 0px 0px 5px;
  color: gray
}

.circle-icon-offline {
  font-size: 0.5rem;
  color: gray;
  background-color: gray;
  width: 8px;
  height: 8px;
  border-radius: 5px;
}





