.nav-container {
  padding: 1rem;
  position: relative;
  background-color: pink;
  border-bottom: 3px solid rgb(238, 94, 118);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 99;
}

/* logo-text-container **************/

.logo-text-container {
  letter-spacing: 1px;
  text-align: center;
  margin-top: -5px;
}

.logo-text-space {
  height: 99px;
  width: 100%;
}

.logo-text-container p {
  margin: 0px
}

.primary-logo-text {
  font-size: 1.7rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.secondary-logo-text {
  color: white;
  font-size: 1.5rem;
}

/**********toggle-btn************/

.nav-button {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  color: white;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-button .fa-xmark {
  color: red;
  font-size: 2rem;
  opacity: 1;
  transform: rotate(0deg);
  transition: all 0.25s linear;
}

.nav-button .fa-xmark-hidden {
  color: white;
  opacity: 0;
  transform: rotate(-45deg);
}

.fa-bar {
  position: fixed;
  top: 1.3rem;
  left: 1rem;
  color: white;
  opacity: 1;
  transform: rotate(0deg);
  transition: all 0.25s linear;
}

.fa-bar-hidden {
  transform: rotate(45deg);
  opacity: 0;
}

.icon-placeholder {
  width: 60px;
  height: 40px;
}

.envolope-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  min-width: 60px;
}

.envolope-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.envolope-link {
  display: block;
  position: relative;
  width: fit-content;
  margin-right: 5px;
}

.envolope-icon {
  font-size: 1.3rem;
  color: white;
}

.new-order-count {
  background-color: white;
  color: rgb(238, 94, 118);
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 10px;
  min-width: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  padding: 1px
}

.online-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.4rem;
  padding: 5px;
  margin-top: 5px;
  letter-spacing: 1px;
  font-size: 0.5rem;
}

.online-indicator-text {
  margin: 0px 0px 0px 5px;
  color: green;
  min-width: 37px
}

.circle-icon {
  font-size: 0.5rem;
  color: green;
  background-color: green;
  width: 8px;
  height: 8px;
  border-radius: 5px;
}

.offline-indicator-text {
  margin: 0px 0px 0px 5px;
  color: gray
}

.circle-icon-offline {
  font-size: 0.5rem;
  color: gray;
  background-color: gray;
  width: 8px;
  height: 8px;
  border-radius: 5px;
}





