.navlinks-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 99px;
  left: 0px;
  width: 100%;
  bottom: 0px;
  z-index: 99;
  height: 100vh;
  transition: height 0.25s linear;
  opacity: 1;
  overflow: hidden;
}

.navlinks-container-hidden {
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: none;
}

.navlinks-ul {
  width: 100%;
}

/********Single Link*********/

.navlinks-ul li {
  padding-bottom: 0.5rem;
  font-size: 1rem;
  padding: 1rem;
}

.navlinks-ul hr {
  width: 100vw;
}

/*****Restaurant Name(p tag)******/

.restaurant-name {
  align-self: center;
  margin-top: 30px;
  font-size: 1.5rem;
  color:#8b1330
}

/******toggle-marketplace-restaurnt**********/
.marketplace-link {
  display: flex;
  padding: 5px;
  border: 2px solid rgb(238, 94, 118);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  color: rgb(238, 94, 118);
  margin-left: auto;
  margin-right: 10px;
  background-color: white;
}

.marketplace-text {
  font-size: 1rem;
  margin-right: 5px;
}

.marketplace-arrow {
  font-size: 1rem;
}