.restaurant-info-top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurant-detail-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.restaurant-photo {
  width: 100%;
  max-width: 400px;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.restaurant-input-image-icon {
  width: 100%;
  font-size: 2rem;
  padding: 10px 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-info-grid {
  display: grid;
  grid-template-columns: minmax(100px, min-content) min-content auto;
  width: 100%;
  max-width: 400px;
  gap: 10px;
  color: rgb(106, 6, 6);
  font-size: 1rem;
  background-color: white;
  padding: 10px;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.detail-info-grid label {
 width: 100%;
 display: block;
}

.detail-info-grid textarea {
  width: 100%;
  padding: 5px;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid #945050;
}

.res-input, .res-phone-input-container {
  width: 100%;
  padding: 5px;
  border: 1px solid white;
  font-size: 1rem;
  border-bottom: 1px solid #945050;
}

.res-input-err {
  border: 1px solid red;
  border-radius: 0.5rem;
}

.res-phone-input-container {
  display: flex;
  position: relative
}

.res-phone-input-container-err {
  border: 1px solid red;
  border-radius: 0.5rem;
}

.res-phone-prefix {
  width: 30px;
  border: none;
  font-size: 1rem;
}

.res-phone-postfix {
  border: none;
  font-size: 1rem;
  width: 100%;
}

.res-phone-postfix::placeholder {
  letter-spacing: 1px;
}

.detail-info-grid textarea {
  height: 80px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.payment-method-container {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}

.single-payment-method {
  min-width: 50px;
  padding: 5px;
  height: fit-content;
  background-color: pink;
  border-radius: 0.5rem;
  text-align: center;
  color: rgb(106, 6, 6)
}

.view-profile {
  width: 100%;
  padding: 8px;
  margin-top: 15px;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 0px 2px 2px #ce494998;
  color: rgb(106, 6, 6);
  font-weight: bold;
}



